In [ ]:
#pandas

In [1]:
import pandas as pd

In [2]:
x = {'Name': ['Rose','John', 'Jane', 'Mary'], 'ID': [1, 2, 3, 4], 'Department': ['Architect Group', 'Software Group', 'Design Team', 'Infrastructure'], 
      'Salary':[100000, 80000, 50000, 60000]}

In [4]:
df = pd.DataFrame(x)
df

   Name  ID       Department  Salary
0  Rose   1  Architect Group  100000
1  John   2   Software Group   80000
2  Jane   3      Design Team   50000
3  Mary   4   Infrastructure   60000

In [6]:
print(df[['ID']])
print(type(df[['ID']]))

   ID
0   1
1   2
2   3
3   4
<class 'pandas.core.frame.DataFrame'>

In [8]:
z = df[['Department', 'Salary', 'ID']]
print(z)

        Department  Salary  ID
0  Architect Group  100000   1
1   Software Group   80000   2
2      Design Team   50000   3
3   Infrastructure   60000   4

In [15]:
a = {'Student':['David', 'Samuel', 'Terry', 'Evan'],
     'Age':['27', '24', '22', '32'],
     'Country':['UK', 'Canada', 'China', 'USA'],
     'Course':['Python','Data Structures','Machine Learning','Web Development'],
     'Marks':['85','72','89','76']}
df2 = pd.DataFrame(a)
print(df2)

b = df2[['Marks']]
print(b)

c = df2[['Country', 'Course']]
print(c)

print('SingleColum')
x = df2['Student']
print(x)
print(type(x))

  Student Age Country            Course Marks
0   David  27      UK            Python    85
1  Samuel  24  Canada   Data Structures    72
2   Terry  22   China  Machine Learning    89
3    Evan  32     USA   Web Development    76
  Marks
0    85
1    72
2    89
3    76
  Country            Course
0      UK            Python
1  Canada   Data Structures
2   China  Machine Learning
3     USA   Web Development
SingleColum
0     David
1    Samuel
2     Terry
3      Evan
Name: Student, dtype: object
<class 'pandas.core.series.Series'>

In [20]:
# - loc[row_label, column_label]
# - iloc[row_index, column_index]

print(df2.iloc[0,0])
print(df2.iloc[0,2])
print(df2.loc[0,'Country'])

David
UK
UK

In [40]:
df2=df
print(df2.loc[0, 'Salary'])
df2=df2.set_index('Name')
print(df2.head())
print(df2.loc['Jane', 'Salary'])
print(df2.loc['Jane', 'Department'])
print(df2.iloc[3,2])

100000
      ID       Department  Salary
Name
Rose   1  Architect Group  100000
John   2   Software Group   80000
Jane   3      Design Team   50000
Mary   4   Infrastructure   60000
50000
Design Team
60000
   Name  ID       Department
0  Rose   1  Architect Group
1  John   2   Software Group

In [45]:
print(df.iloc[0:2,0:3])
print(df.loc[0:2,'ID':'Department'])

print(df2.loc['Rose':'Jane', 'ID':'Department'])
print(df.loc[2:3, 'Name':'Department'])

   Name  ID       Department
0  Rose   1  Architect Group
1  John   2   Software Group
   ID       Department
0   1  Architect Group
1   2   Software Group
2   3      Design Team
      ID       Department
Name
Rose   1  Architect Group
John   2   Software Group
Jane   3      Design Team
   Name  ID      Department
2  Jane   3     Design Team
3  Mary   4  Infrastructure

In [47]:
# Dependency needed to install file 

# If running the notebook on your machine, else leave it commented
#!pip install xlrd

#!pip install openpyxl 
import piplite
await piplite.install(['xlrd','openpyxl'])

ModuleNotFoundError: No module named 'piplite'

In [48]:
# Dependency needed to install file 

# If running the notebook on your machine, else leave it commented
!pip install xlrd

!pip install openpyxl 
# import piplite
# await piplite.install(['xlrd','openpyxl'])

Requirement already satisfied: xlrd in /root/anaconda3/envs/env3.8_1/lib/python3.8/site-packages (2.0.1)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Requirement already satisfied: openpyxl in /root/anaconda3/envs/env3.8_1/lib/python3.8/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /root/anaconda3/envs/env3.8_1/lib/python3.8/site-packages (from openpyxl) (1.1.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [50]:
# Read data from CSV file

# csv_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv'
# df = pd.read_csv(csv_path)

from pyodide.http import pyfetch
import pandas as pd

filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv"

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())


await download(filename, "TopSellingAlbums.csv")
df = pd.read_csv("TopSellingAlbums.csv")

ModuleNotFoundError: No module named 'pyodide'

In [52]:
import pandas as pd

# Read data from CSV file

csv_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv'
df = pd.read_csv(csv_path)
print(df)

            Artist                            Album  Released   Length  \
0  Michael Jackson                         Thriller      1982  0:42:19
1            AC/DC                    Back in Black      1980  0:42:11
2       Pink Floyd        The Dark Side of the Moon      1973  0:42:49
3  Whitney Houston                    The Bodyguard      1992  0:57:44
4        Meat Loaf                  Bat Out of Hell      1977  0:46:33
5           Eagles  Their Greatest Hits (1971-1975)      1976  0:43:08
6         Bee Gees             Saturday Night Fever      1977  1:15:54
7    Fleetwood Mac                          Rumours      1977  0:40:01

                         Genre  Music Recording Sales (millions)  \
0               pop, rock, R&B                              46.0
1                    hard rock                              26.1
2             progressive rock                              24.2
3               R&B, soul, pop                              27.4
4  hard rock, progressive rock                              20.6
5   rock, soft rock, folk rock                              32.2
6                        disco                              20.6
7                    soft rock                              27.9

   Claimed Sales (millions) Released.1 Soundtrack  Rating
0                        65  30-Nov-82        NaN    10.0
1                        50  25-Jul-80        NaN     9.5
2                        45  01-Mar-73        NaN     9.0
3                        44  17-Nov-92          Y     8.5
4                        43  21-Oct-77        NaN     8.0
5                        42  17-Feb-76        NaN     7.5
6                        40  15-Nov-77          Y     7.0
7                        40  04-Feb-77        NaN     6.5

In [55]:
xlsx_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/jupyterlite/files/Module%205/data/TopSellingAlbums.xlsx'
df = pd.read_excel(xlsx_path)
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

In [56]:
import pandas as pd

# Read data from CSV file

csv_path = 'TopSellingAlbums.csv'
df = pd.read_csv(csv_path)
print(df)

df.head()

            Artist                            Album  Released   Length  \
0  Michael Jackson                         Thriller      1982  0:42:19
1            AC/DC                    Back in Black      1980  0:42:11
2       Pink Floyd        The Dark Side of the Moon      1973  0:42:49
3  Whitney Houston                    The Bodyguard      1992  0:57:44
4        Meat Loaf                  Bat Out of Hell      1977  0:46:33
5           Eagles  Their Greatest Hits (1971-1975)      1976  0:43:08
6         Bee Gees             Saturday Night Fever      1977  1:15:54
7    Fleetwood Mac                          Rumours      1977  0:40:01

                         Genre  Music Recording Sales (millions)  \
0               pop, rock, R&B                              46.0
1                    hard rock                              26.1
2             progressive rock                              24.2
3               R&B, soul, pop                              27.4
4  hard rock, progressive rock                              20.6
5   rock, soft rock, folk rock                              32.2
6                        disco                              20.6
7                    soft rock                              27.9

   Claimed Sales (millions) Released.1 Soundtrack  Rating
0                        65  30-Nov-82        NaN    10.0
1                        50  25-Jul-80        NaN     9.5
2                        45  01-Mar-73        NaN     9.0
3                        44  17-Nov-92          Y     8.5
4                        43  21-Oct-77        NaN     8.0
5                        42  17-Feb-76        NaN     7.5
6                        40  15-Nov-77          Y     7.0
7                        40  04-Feb-77        NaN     6.5

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [58]:
import pandas as pd

# Read data from CSV file

xlsx_path = 'TopSellingAlbums.xlsx'
df = pd.read_excel(xlsx_path)
print(df)

df.head()

            Artist                            Album  Released    Length  \
0  Michael Jackson                         Thriller      1982  00:42:19
1            AC/DC                    Back in Black      1980   0:42:11
2       Pink Floyd        The Dark Side of the Moon      1973   0:42:49
3  Whitney Houston                    The Bodyguard      1992   0:57:44
4        Meat Loaf                  Bat Out of Hell      1977   0:46:33
5           Eagles  Their Greatest Hits (1971-1975)      1976   0:43:08
6         Bee Gees             Saturday Night Fever      1977  01:15:54
7    Fleetwood Mac                          Rumours      1977   0:40:01

                         Genre  Music Recording Sales (millions)  \
0               pop, rock, R&B                              46.0
1                    hard rock                              26.1
2             progressive rock                              24.2
3               R&B, soul, pop                              27.4
4  hard rock, progressive rock                              20.6
5   rock, soft rock, folk rock                              32.2
6                        disco                              20.6
7                    soft rock                              27.9

   Claimed Sales (millions) Released.1 Soundtrack  Rating
0                        65 1982-11-30        NaN    10.0
1                        50 1980-07-25        NaN     9.5
2                        45 1973-03-01        NaN     9.0
3                        44 1992-11-17          Y     8.5
4                        43 1977-10-21        NaN     8.0
5                        42 1976-02-17        NaN     7.5
6                        40 1977-11-15          Y     7.0
7                        40 1977-02-04        NaN     6.5

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

In [78]:
x = df[['Length']]
print(x)

x = df[['Artist']]
print(x)

y=df[['Artist', 'Length', 'Genre']]
print(y)

print('ILOC')
print(df.iloc[0,0])
print(df.iloc[1,0])
print(df.iloc[0,1])
print(df.iloc[1,1])
print(df.iloc[0,2])
print(df.iloc[1,2])

print('LOC')
print(df.loc[0,'Artist'])
print(df.loc[1,'Artist'])
print(df.loc[0,'Released'])
print(df.loc[1,'Released'])


print('Slicing')
print(df.iloc[0:2, 0:3])
print(df.loc[0:2, 'Artist':'Released'])

     Length
0  00:42:19
1   0:42:11
2   0:42:49
3   0:57:44
4   0:46:33
5   0:43:08
6  01:15:54
7   0:40:01
            Artist
0  Michael Jackson
1            AC/DC
2       Pink Floyd
3  Whitney Houston
4        Meat Loaf
5           Eagles
6         Bee Gees
7    Fleetwood Mac
            Artist    Length                        Genre
0  Michael Jackson  00:42:19               pop, rock, R&B
1            AC/DC   0:42:11                    hard rock
2       Pink Floyd   0:42:49             progressive rock
3  Whitney Houston   0:57:44               R&B, soul, pop
4        Meat Loaf   0:46:33  hard rock, progressive rock
5           Eagles   0:43:08   rock, soft rock, folk rock
6         Bee Gees  01:15:54                        disco
7    Fleetwood Mac   0:40:01                    soft rock
ILOC
Michael Jackson
AC/DC
Thriller
Back in Black
1982
1980
LOC
Michael Jackson
AC/DC
1982
1980
Slicing
            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980
            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973
   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac
1980

In [82]:

q=df[['Rating']]
# q=df[['Michael Jackson']]
q=df[['Released', 'Artist']]
print(q)
print(df.iloc[1,2])

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac
1980

In [99]:

new_index=['a','b','c','d','e','f','g','h']
df_new = df
# df_new.set_index(new_index)
df_new.index = new_index

print(df_new)
df_new.head()
print(df_new.loc['a', 'Artist'])
print(df_new.loc['a':'d', 'Artist'])
print(df_new.ix[0,1])

            Artist                            Album  Released    Length  \
a  Michael Jackson                         Thriller      1982  00:42:19
b            AC/DC                    Back in Black      1980   0:42:11
c       Pink Floyd        The Dark Side of the Moon      1973   0:42:49
d  Whitney Houston                    The Bodyguard      1992   0:57:44
e        Meat Loaf                  Bat Out of Hell      1977   0:46:33
f           Eagles  Their Greatest Hits (1971-1975)      1976   0:43:08
g         Bee Gees             Saturday Night Fever      1977  01:15:54
h    Fleetwood Mac                          Rumours      1977   0:40:01

                         Genre  Music Recording Sales (millions)  \
a               pop, rock, R&B                              46.0
b                    hard rock                              26.1
c             progressive rock                              24.2
d               R&B, soul, pop                              27.4
e  hard rock, progressive rock                              20.6
f   rock, soft rock, folk rock                              32.2
g                        disco                              20.6
h                    soft rock                              27.9

   Claimed Sales (millions) Released.1 Soundtrack  Rating
a                        65 1982-11-30        NaN    10.0
b                        50 1980-07-25        NaN     9.5
c                        45 1973-03-01        NaN     9.0
d                        44 1992-11-17          Y     8.5
e                        43 1977-10-21        NaN     8.0
f                        42 1976-02-17        NaN     7.5
g                        40 1977-11-15          Y     7.0
h                        40 1977-02-04        NaN     6.5
Michael Jackson
a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object

AttributeError: 'DataFrame' object has no attribute 'ix'